@import './util/util';
@import './layout/layout';
@import './component/component';

body {
  .header-styles(@bg-header,@txt-header,@accent-color);
  .main-styles({
    .ui-component-styles();
    .template-component-styles();
    .card-styles();
  });
  .footer-styles(@bg-footer,@txt-footer,@accent-color);
}

@import './theme/dark-mode';
.dark-mode-styles();

.api-endpoint {
  display: flex;
  align-items: center;
  background-color: #f1f5f9;
  padding: 0.5rem 1rem;
  border-radius: 0.375rem;
  margin-bottom: 1rem;
  border: 1px solid #e2e8f0;
}

.badge {
  font-weight: 700;
  font-size: 0.75rem;
  padding: 0.25rem 0.5rem;
  border-radius: 0.25rem;
  color: #fff;
  margin-right: 1rem;
}

.badge-get { background-color: #10b981; }

.endpoint-path {
  color: #0f172a !important;
  font-weight: 600;
}
